{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container container-fluid">
    <div class="card">
        <div class="card-header">
            <h2 class="row title">ورود</h2>
        </div>
        <div class="card-body">
            <form class="row" method="post">
                <div class="container container-fluid">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">نام کاربری</label>
                        <input class="form-control" type="text" name="username" autofocus required id="id_username">
                    </div>
                    <div class="form-group">
                        <label for="id_password">رمز عبور</label>
                        <input class="form-control" type="password" name="password" required id="id_password">
                    </div>
                    <div class="form-group left">
                        <button class="btn btn-success" type="submit">
                            ورود
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock %}