{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            {{ user.username }}
        </div>
        <div class="card-body m-auto">
            <div class="row">
                <img src="{{ photo_path }}" alt="Profile photo" width="100%">
            </div>
            <div class="row">
                <form method="post" action="/account/profile/upload_photo" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="photo" value="انتخاب عکس" accept="image/vnd.sealedmedia.softseal-jpg">
                    <button type="submit" class="btn btn-success">آپلود عکس</button>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-auto">نام:</div>
                <div>{{ first_name }}</div>
            </div>
            <div class="row">
                <div class="col-sm-auto">نام خانوادگی:</div>
                <div>{{ last_name }}</div>
            </div>
            <div class="row">
                <div class="col-sm-auto">ایمیل:</div>
                <div>{{ user.email }}</div>
            </div>
        </div>
    </div>

{% endblock %}