{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            {{ user.username }}
        </div>
        <div class="card-body row">
            <div class="col-sm-6">
                <div class="row justify-content-center">
                    <div style="background-image: url({{ photo_path }})" class="rounded-circle profile-photo">
                    </div>
                </div>
                <div class="row justify-content-center">
                <form method="post" action="/account/profile/upload_photo" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="photo" value="انتخاب عکس" accept="image/vnd.sealedmedia.softseal-jpg">
                    <button type="submit" class="btn btn-success">آپلود عکس</button>
                </form>
                </div>
            </div>

            <div class="col-sm-auto align-content-center">
                <div class="row">
                    <div class="col-sm-auto">نام:</div>
                    <div>{{ first_name }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-auto">نام خانوادگی:</div>
                    <div>{{ last_name }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-auto">ایمیل:</div>
                    <div>{{ user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-auto">
                        <a class="button btn btn-success" href="{% url 'twitter:create' %}">
                            ارسال توییت
                        </a>
                </div>
                    <div class="form-group">
                        <button class="btn btn-success" id="get_token_button">
                            ایجاد توکن امنیتی
                        </button>
                    </div>
                </div>
                <div class="row" id="token_area">

                </div>
            </div>
        </div>
    </div>
{% load static %}
    <script src="{% static 'accounts/js/authentication.js' %}" type="application/javascript"></script>
{% endblock %}