{% extends 'base.html' %}

{% block content %}
    {% if latest_question_list %}
        <a class="button btn btn-primary" href="{% url 'twitter:create' %}">
            ارسال توییت
        </a>
        <ul>
            {% for tweet in latest_question_list %}
                <li class="card">
                    <div class="card-header" style="text-align: left; direction: ltr;">
                        @{{ tweet.user.username }}
                    </div>
                    <div class="card-body">
                        <p class="text">{{ tweet.tweet_text }}</p>
                        <div style="text-align: left;">
                            <a class="button btn btn-primary" href="{% url 'twitter:detail' tweet.id %}">
                                برو به صفحه‌ی توییت
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tweets are available.</p>
    {% endif %}
{% endblock %}