{% extends 'base.html' %}

{% block content %}
    {% if latest_question_list %}
        <div class="conatainer container-fluid">
            {% for tweet in latest_question_list %}
                <div class="card">
                    <div class="card-header">
                        {{ tweet.user.username }}
                    </div>
                    <div class="card-body">
                        <p class="text">{{ tweet.tweet_text }}</p>
                        <div class="left">
                            <a class="button btn btn-success my-button" href="{% url 'twitter:detail' tweet.id %}">
                                برو به صفحه‌ی توییت
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tweets are available.</p>
    {% endif %}
{% endblock %}