<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}"/>
    <meta charset="utf-8">
    <title>{% block title %}جیک جیک{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark my-navbar">
        <ul class="navbar-nav col-sm-11">
            <li class="nav-item">
                <a class="nav-link" href="/">جیک جیک</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/twitter">توییت‌ها</a>
            </li>
        </ul>
        <ul class="navbar-nav col-sm-1">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active">{{user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">خروج</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">ورود</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <main class="container container-fluid my-container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>