{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="card" style="text-align: center">
        <div class="card-body">
            <div>
                <div>
                    <img src="/static/style/images/logo.png" alt="Twitter logo">
                </div>
            </div>
            <div>
                <h1>جیک جیک</h1>
                <p>
                    به جیک جیک خوش آمدید
                    جیک جیک سامانه‌ای برای تعامل با دیگران است که می‌توانید از API آن نیز استفاده کنید!
                </p>
            </div>
        </div>
    </div>
{% endblock %}