{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="card" style="text-align: center">
        <div class="card-body">
            <div>
                <div class="container container-fluid">
                    <img src="/static/style/images/logo.png" alt="Twitter logo" width="80%">
                </div>
            </div>
            <div>
                <h1>جیک جیک</h1>
                <p>
                    به جیک جیک خوش آمدید
                    جیک جیک سامانه‌ای برای تعامل با دیگران است که می‌توانید از API آن نیز استفاده کنید!
                </p>
            </div>
            {% if not user.is_authenticated %}
            <div>
                <div class="form-group">
                    <a class="btn btn-success button my-button" href="/account/signup">
                    ثبت نام
                    </a>
                    <a class="btn btn-success button my-button" href="{% url 'login' %}">ورود</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}